.banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../assets/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

.watch-trailer {
  background-color: #be123c;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
}

.play-btn {
  margin-right: 10px;
}
