h1 {
  letter-spacing: 3px;
}

a {
  text-decoration: none;
}

.banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../assets/banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.details {
  padding: 12% 7% 10% 7%;
  width: 20vw;
  height: 150px;
  color: #fff;
}

.rating {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.imdb-ratings,
.rot-ratings {
  display: flex;
  gap: 5px;
  padding-top: 15px;
}

.watch-trailer {
  background-color: #be123c;
  color: #fff;
  margin-top: 25px;
  padding: 10px 10px;
  border-radius: 5px;
}

.play-btn {
  margin-right: 10px;
}
