.nav {
  color: #fff;
  border-radius: 50px;
  background-color: #e22d48;
  padding: 8px 10px;
}

h4,
h5 {
  color: #fff;
}

.navbar {
  height: 80px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 10px 30px;
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}
