.search-div {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.search-input {
  padding: 15px;
  color: #000;
  border: 1px solid #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 85%;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  border: none;
  color: #fff;
  background-color: transparent;
}
